.SelectWrapper select {
    height: 13vw;
    border-radius: 4px;
    border: 3px solid var(--accent);
    margin: 2vw 0 0;
}

@media (min-width:660px) {
    .SelectWrapper select {
        height: 45px;
        margin: 10px 0 0;
    }
}